<!DOCTYPE html>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Portal - add photo</title>
</head>
<body>
<div align="center">
    <div>
        <p>Dodaj zdjęcie </p>

        <table>

            <form action="#"  th:action="@{/addPhoto}"  th:object="${photo}" method="post"
                  enctype=”multipart/form-data”>
                <tr>
<!--                    <td> <input type="text" name="id" id="id" th:value="${id}" disabled="true"></td>-->
                </tr>
                <tr>
                    <td><p>Wybierz zdjęcie</p></td>
                    <td><input type="file" name="image" accept="image/png, image/jpg" th:field="*{photo}"></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="student_id" id="student_id" th:value="${id_student}" disabled="true">
                    </td>
                </tr>
                <tr>
                <td>
                    <button type="submit" value="Dodaj zdjęcie">Dodaj zdjęcie</button>
                </td>
                </tr>
            </form>
        </table>

    </div>
</div>
</body>
</html>
