<!DOCTYPE html>
<html lang="pl" >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/templates/css/style.css}">
    <title>Strona główna</title>
</head>
<body>
<div align="center">
    Witaj na mojej stornie :)

    <a href="/login"> a to co będzie? </a>
</div>
<div>
        <div align="center">
            <button><a href="/register"> Register</a></button>
            <button><a href="/login"> Login</a></button>
        </div>

</div>

</body>
</html>