<!DOCTYPE html>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Portal - Parent</title>
</head>
<body>
<div align="center">
    <div>
        <p>Lista uczniów</p>
        <table>
            <tr>
                <td>
                <input type="text" name="id" id="id" th:value="${id}" disabled="true"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label> Imię </label>
                </td>
                <td>
                    <input type="text" name="first_name" id="first_name" th:value="${first_name}" />
                </td>
            </tr>
            <tr>
                <td>
                    <label> Nazwisko </label>
                </td>
                <td>
                    <input type="text" name="last_name" id="last_name" th:value="${last_name}" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Klasa</label>
                </td>
                <td>
                    <input type="text" name="clazz" id="clazz" th:value="${clazz}" disabled="true" />
                </td>
            </tr>
            <tr>
                <button type="submit" value="Save" th:action="@{/addStudent}">Zapisz </button>
            </tr>

        </table>
        <button><a href="/addPhoto"> Dodaj zdjęcie</a></button>
        <button><a href="/saveStudent"> Zapisz zmiany</a></button>
        <button><a href="#"> Usuń</a></button>
    </div>
</div>
</body>
</html>
