<!DOCTYPE html>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Portal - Parent</title>
</head>
<body>
<div align="center">
    <div>
        <p>Dodaj ucznia do bazy</p>
        <table>
            <form action="#" th:action="@{/addStudent}" th:object="${student}" method="post">
                <tr>
                    <td><p>Imię</p></td>
                    <td><input type="text" th:field="*{first_name}" /></td>
                </tr>
                <tr>
                    <td><p>Nazwisko</p></td>
                    <td><input type="text"  th:field="*{last_name}" /></td>
                </tr>


                <tr>
                    <td><input type="text" name="clazz" id="clazz" th:value="${clazz}" hidden="true"/> </td>
                </tr>
                <tr>
                <td>
                    <button type="submit", value="Dodaj dziecko">Zapisz </button>
                </td>
<!--                <td>-->
<!--                    <button>Edit Child</button>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <button>Remove Child</button>-->
<!--                </td>-->
                </tr>
            </form>
        </table>

    </div>
</div>
</body>
</html>
