<!DOCTYPE html>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Registration</title>
</head>
<body>
<p>
<h1>Załóż konto, by móc korzystać z funkcjonalności portalu</h1>
</p>
<section id="container">
    <div class="container">

        <form action="#" th:action="@{/createAccount}" th:object="${user}" method="post">
            <table>
                <tr>
                    <td><p>Nazwa użytkownika</p></td>
                    <td><input type="text" th:field="*{userName}"/></td>
                </tr>
                <tr>
                    <td><p>Hasło</p></td>
                    <td><input type="password" th:field="*{password}"/></td>
                </tr>
                <tr>
                    <td><p>Klasa</p></td>
                    <td><input type="text" th:field="*{clazz}"/></td>
                </tr>
                <tr>
                    <td><p>Wybierz rolę</p></td>
                    <td>
                        <select th:field="*{role}">
                            <option value="ROLE_ADMIN">Nauczyciel</option>
                            <option value="ROLE_USER">Rodzic</option>
                        </select>
                        <br/><br/><br/><br/>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Załóż konto"/></td>
                    <td><button th:href="@{/index}">Anuluj</button></td>
                </tr>
            </table>
        </form>
    </div>
</section>

<footer class="footer">
    <div class="author">
        &copy; Michał Kania 2021, nr indeksu 72442
    </div>
</footer>
</body>
</html>