<!DOCTYPE html>
<html lang="pl">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/templates/css/style.css}">
    <title>Register</title>
</head>
<body>
<section class="section1">
<h1>Zarejestruj się</h1>
    <table>
        <form th:action="@{/createAccount}" th:object="${account}" method="post">
            <tr>
                <td><p> Podaj swój login: </p> </td>
                <td><input type="email" th:field="*{login}" required /></td>
            </tr>
            <tr>
                <td><p>Podaj hasło: </p></td>
                <td><input type="password" th:field="*{password}" required/></td>
            </tr>
            <tr>
                <td><p>Powtórz hasło: </p></td>
                <td><input type="password" th:field="*{confirmPassword}" required/></td>
            </tr>
            <tr>
                <td><p>Podaj klasę: </p> </td>
                <td> <input type="text" th:field="*{clazz}" required /></td>
            </tr>
            <tr>

                <td><p>Nauczyciel </p></td>
                <td><input type="checkbox" th:field="*{teacher}"></td>
<!--                <td><select th:field="*{teacher}" >-->
<!--                    <option value="True" text="Tak"></option>-->
<!--                    <option value="False" text="Nie"></option>-->
<!--                    </select></td>-->
            </tr>
            <tr>
                <td><p><input type="submit" value="Zarejestruj się" /></p> </td>
            </tr>
         </form>
    </table>
</section>
</body>
</html>